# vDrive Website Service Environment Variables

# Site URLs
SITE_URL=https://www.vdrive.io
APP_URL=https://app.vdrive.io

# Server Configuration
HOST=0.0.0.0
PORT=8011

# Build Mode (development | production)
NODE_ENV=production
